@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
body
{	
	margin: 0 auto;
	width: 100%;
	height: auto;
	font-family: 'Lato Regular';
	display: table;
	/*background-image: url("../images/home_bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;*/
	background: #282828;
	background: #9b9b9b;
	background: #caccce;
	background: #282828;
	
	/*background-image: url("../images/bg3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;*/
	color: #ccc;
}

.shadow {
  -moz-box-shadow:    3px 3px 50px 10px #000;
  -webkit-box-shadow: 3px 3px 50px 10px #000;
  box-shadow:         3px 3px 50px 10px #000;
}

maincontent
{
	margin: 0 auto;
	width: 100%;
	display: table;
	position: relative;
}

.container {
	margin: 0 auto;
  position: relative;
  /*float: left;*/
  width: 90%;
  height: 350px;
 /* margin: 10px 0 10px 4%;*/
  background: transparent;
  margin-top: 50px;
  display: block;
  max-width: 700px;
  
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  
  
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-size: 4em;
  position: absolute;
  
   -webkit-box-shadow: 1px 5px 5px rgba(0,0,0, 0.3);   /*Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
   -moz-box-shadow:    1px 5px 5px rgba(0,0,0, 0.3); /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 5px 5px rgba(0,0,0, 0.3);   /*Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  
  
}

.card_display
{
	display: block
}
.container .card .front {
  background: #111;
  border: 2px solid #151515;
  border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.container .card .back {
  background: #dfdfdf;
  border: 2px solid #151515;
  border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  
}

.cardTemplate_1
{
	margin: 50 auto;
	width: 100%;
	display: block;	
}

.cardTemplate_1 .front
{
	display: block;
	z-index: 10;
	position: relative
}

.cardTemplate_1 .front .item1
{
	margin: 0 auto;
	width: 100%;
	display: block;
	position: absolute;
	z-index: 1;
	background: #111;
	margin-top: 90px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.cardTemplate_1 .front .item1 h2
{
	margin: 0 auto;
	width: 100%;
	display: block;
	line-height: .8;
	font-weight: 300;
	font-size: .6em;
}

.cardTemplate_1 .front .item1 h5
{
	margin: 0 auto;
	width: 100%;
	display: block;
	font-family: 'Lobster Two', cursive;
	line-height: .8;
	font-size: .3em;
	padding-top: 20px;
	color: #feef88;
}

.cardTemplate_1 .front .item2
{
	margin: 0 auto;
	width: 50%;
	height: 200px;
	display: block;
	border: 2px solid #dfdfdf;
	position: relative;
	z-index: 0;
	margin-top: 50px;
}

.cardTemplate_1 .back
{
	margin: 20 auto;
	display: block;
	z-index: 10;
	position: relative
}

.cardTemplate_1 .back .item1
{
	margin: 0 auto;
	width: 100%;
	display: block;
	position: absolute;
	z-index: 1;
	background: #dfdfdf;
	margin-top: 90px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.cardTemplate_1 .back .item1 h5
{
	margin: 0 auto;
	width: 100%;
	display: block;
	line-height: .8;
	font-weight: 300;
	font-size: .3em;
	color: #333;
	padding-bottom: 10px;
}



.cardTemplate_1 .back .item2
{
	margin: 0 auto;
	width: 35%;
	height: 200px;
	display: table;
	border: 2px solid #111;
	position: relative;
	z-index: 0;
	margin-top: 50px;
}


.cardTemplate_1 .front .item3
{
	margin: 0 auto;
	width: 100%;
	display: table;
	position: absolute;
	z-index: 1;
	/*border-bottom: 1px solid #333;*/
	line-height: .8;
}

.cardTemplate_1 .front .item3 h5
{
	font-size: .3em;
	text-align: center;
	line-height: .8;
	margin-bottom: 15px;
	font-weight: 300;
	font-size: .25em;
	color: #333;
	padding-top: 10px;
}


.cardTemplate_1 .back .item3
{
	margin: 0 auto;
	width: 100%;
	display: block;
	position: absolute;
	z-index: 1;
	/*border-bottom: 1px solid #333;*/
	line-height: .8;
}

.cardTemplate_1 .back .item3 h5
{
	text-align: center;
	line-height: .8;
	margin-bottom: 15px;
	font-weight: 300;
	font-size: .2em;
	color: #333;
	padding-top: 10px;
	font-weight: bolder;
}